.App {
  text-align: center;
}

nav {
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
}
